.anime-entry-container {
    background-color: #535bf2;
    padding: 10px;
    border-radius: 10px;
}
.anime-entry-form{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
}
.anime-entry-input{
    color: white;
    border-radius: 10px;
}

.anime-entry-submit{
    border-radius: 10px;
}