.nav-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    background-color: #0249ab;
}

.nav-item{
    color: white;
    border-radius: 10px;
}

.nav-item-hm{
    float: right;
}